@import "tailwindcss";
bg-gradient-to-br from-indigo-50 via-white to-amber-50
:root {
  --background: 
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #4f46e5;
  --font-sans: var(--font-inter-sans);
  

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-linear-to-br from-indigo-50 via-white to-amber-50;
  color: var(--foreground);
  font-family: var(--font-sans);
}

.input-element {
    @apply border p-2 m-2 rounded-lg border-gray-100 focus:border-black w-full h-12;
  }

.section-container {
  @apply w-[60vw] flex flex-col justify-center items-center mt-10 mx-auto mb-30
}

